<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>
    <h1>Login</h1>
    <form method = "post" action = "">
      <p><label>Email: <input type = "text" name = "email"></label></p>
      <p><label>Password: <input type = "password" name = "password"></label></p>
      <p><button type = "submit">submit</button></p>
      <a href="signUp.html">Create an account</a>
    </form>
</body>
</html>





